input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}


.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
        color: hsl(228, 45%, 44%); 
}